#  Python artefacts
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
*.dylib
*.egg-info/
dist/
build/

#  Editor / OS clutter
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

#  Virtual/Conda environments created locally or on the cluster
venv/
.venv/
/envs/
/tengan_runs/envs/         

#  Jupyter artefacts
.ipynb_checkpoints/

# Lightning & TensorBoard
lightning_logs/

#  Gaussian large outputs (keep templates, ignore heavy files)
#*.chk
#*.fchk

# writing folder, will be kept hidden for now
/writing/

# Myriad jobscript files (some contain my WandB API keys). I believe all .sh files are jobscripts in this repo
*.sh

# No need for ruff cache in git repo
.ruff_cache/
